.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainApp {
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  color: white;
  width: 100vw;
}

main {
  /* background-color: grey; */
  flex: 1 1 auto;
  justify-content: center;
  display: flex;
}

main section {
  border: 2px solid wheat;
  margin: 20px;
  display: flex;
  max-width: 40vw;
  width: 100%;
}

nav { 
  /* background-color: black; */
  flex: 0 0 auto;
  font-size: 17px;
  
}

nav ul li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  width: fit-content;
}

nav ul li:hover {
  color: red;
}

.navUl {
  padding-left: 10px;
  padding-right: 5px;
}