.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mainApp {
  background-color: #282c34;
  display: flex;
  min-height: 100vh;
  color: white;
  width: 100vw;
}

main {
  flex: 1 1 auto;
  justify-content: center;
  display: flex;
  height: fit-content;
}

main section {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px auto 10px auto;
  display: flex;
  max-width: 40vw;
  width: 100%;
  border-radius: 5px;
}

nav { 
  background-color: rgba(255, 255, 255, 0.1);
  flex: 0 0 auto;
  font-size: 15px;
  margin: 10px;
  border-radius: 5px;
  height: fit-content;
}

nav .cont-title {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 23px;
}

nav ul li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  width: fit-content;
}

nav ul li .link:hover {
  color: #91c1e7;
}

.navUl {
  padding-left: 10px;
  padding-right: 5px;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 5px;
  padding: 0 15px 15px 15px;
}

.main-content h1 {
  margin-bottom: 8px;
  text-align: center;
}

p {
  text-align: left;
  margin-top: 7px;
  margin-bottom: 0;
}

code {
  background-color: #282c34;
  width: 100%;
  border-radius: 3px;
  margin-top: 15px;
  padding-left: 5px;
  padding-bottom: 7px;
  padding-top:7px;

}

h3{
  margin-bottom: 0;
}